@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer base {
  @font-face {
    font-family: "Monument";
    src: url("../../fonts/MonumentExtended-Regular.woff2");
  }
  @font-face {
    font-family: 'Satoshi-Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../../fonts/Satoshi-Bold.woff2") format('woff2');
  }
  @font-face {
    font-family: 'Satoshi-Medium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../../fonts/Satoshi-Medium.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Satoshi-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../fonts/Satoshi-Regular.woff2') format('woff2');
  }
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #000000; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background: #AB23FF; /* Color of the thumb */
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.summary-reset::-webkit-details-marker {
  display: none;
}